{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto block shadow mb-5">
        <h2><center>{{ .Title | markdownify }}</center></h2>
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | relURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="content mb-5">
          {{ .Content }}
        </div>
      </div>
      <div class="col-lg-8 mx-auto block shadow">
        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}