{{ define "main" }}

<!-- banner -->
<section class="banner bg-cover" style="background-image: url('{{ .Site.Params.banner.bgImage | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1>{{ .Site.Params.banner.title | markdownify }}</h1>
      </div>
      <div class="col-lg-6 illustration-mobile">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- cta -->
{{ if .Site.Params.cta.enable }}
<section class="section pt-8">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row shadow bg-white p-5">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="{{ .Site.Params.cta.image | relURL }}" class="mr-4" alt="..."></div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">{{ .Site.Params.cta.title | markdownify }}</h3>
            <p>{{ .Site.Params.cta.description | markdownify }}</p>
            {{ if .Site.Params.cta.button.enable }}
            <a href="{{ .Site.Params.cta.button.link | absURL }}"
              class="btn btn-primary">{{ .Site.Params.cta.button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cta -->

<!-- cta2 -->
{{ if .Site.Params.cta2.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row shadow bg-white p-5">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="{{ .Site.Params.cta2.image | relURL }}" class="mr-4" alt="..."></div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">{{ .Site.Params.cta2.title | markdownify }}</h3>
            <p>{{ .Site.Params.cta2.description | markdownify }}</p>
            {{ if .Site.Params.cta2.button.enable }}
            <a href="{{ .Site.Params.cta2.button.link | absURL }}"
              class="btn btn-primary">{{ .Site.Params.cta2.button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cta2 -->



{{ end }}